<ion-content class="detail-bg">

  <div class="detail-container">

    <!-- CARD -->
    <div class="detail-card">

      <!-- IMAGE -->
      <img
        [src]="image"
        class="detail-image"
      />

      <!-- TITLE -->
      <h1>🍌 Pisang {{ nama | titlecase }}</h1>

      <!-- CONFIDENCE -->
      <div class="confidence-section">

        <p>Confidence AI</p>

        <div class="confidence-bar">
          <div
            class="fill"
            [style.width.%]="confidence">
          </div>
        </div>

        <h2>{{ confidence }}%</h2>

      </div>

      <!-- INFO -->
      <div class="info-box">

        <h3>🍌 Informasi Pisang</h3>

        <p>{{ informasi }}</p>

      </div>

      <!-- BUTTON -->
      <button
        class="back-btn"
        (click)="kembali()">

        Kembali

      </button>

    </div>

  </div>

</ion-content>
