.splash-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f3d2e; // warna hijau gelap sesuai desain kamu
}

.splash-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
