<ion-content class="history-bg" [fullscreen]="true">

  <div class="container">

    <!-- HEADER -->
    <div class="header">
      📊 Riwayat Scan
    </div>

    <!-- LOADING -->
    <div *ngIf="loading" class="loading">

      <ion-spinner></ion-spinner>

      <p>Memuat riwayat...</p>

    </div>

    <!-- EMPTY -->
    <div *ngIf="!loading && filtered.length === 0" class="empty">

      <div class="empty-icon">🍌</div>

      <h2>Belum Ada Riwayat</h2>

      <p>Hasil scan akan muncul di sini</p>

    </div>

    <!-- LIST -->
    <div *ngFor="let item of filtered" class="history-card">

      <!-- IMAGE -->
      <img [src]="item.image_url" class="history-image" alt="Pisang" />

      <!-- TITLE -->
      <h2>
        {{ getNamaPisang(item.result) }}
      </h2>

      <!-- INFO -->
      <p class="banana-info">
        {{ getBananaInfo(item.result) }}
      </p>

      <!-- CONFIDENCE -->
      <div class="confidence-bar">

        <div class="fill" [style.width.%]="item.confidence"></div>

      </div>

      <p class="confidence-text">
        {{ item.confidence }}%
      </p>

      <!-- BUTTON -->
      <div class="button-group">

        <button class="custom-btn detail-btn" (click)="goDetail(item)">

          🔍 Lihat Detail

        </button>

        <ion-button expand="block" color="danger" class="btn-delete" (click)="delete(item.id)">

          🗑️ Hapus

        </ion-button>

      </div>

    </div>

  </div>

</ion-content>
