<ion-content class="history-bg">

  <div class="center-wrapper">
    <div class="app-container">

      <!-- HEADER -->
      <div class="header">
        <h2>📊 Riwayat Scan</h2>
      </div>

      <!-- SEARCH -->
      <ion-searchbar
        placeholder="Cari hasil..."
        (ionInput)="onSearch($event)">
      </ion-searchbar>

      <!-- FILTER -->
      <div class="filter">
        <button (click)="setFilter('all')" [class.active]="filter==='all'">All</button>
        <button (click)="setFilter('high')" [class.active]="filter==='high'">High</button>
        <button (click)="setFilter('medium')" [class.active]="filter==='medium'">Medium</button>
        <button (click)="setFilter('low')" [class.active]="filter==='low'">Low</button>
      </div>

      <!-- LOADING -->
      <div *ngIf="loading" class="loading">
        <ion-spinner></ion-spinner>
      </div>

      <!-- LIST -->
      <ion-list *ngIf="!loading && filtered.length">

        <ion-item-sliding *ngFor="let item of filtered; let i = index" class="fade-in"
          [style.animationDelay]="i * 0.1 + 's'">

          <ion-item (click)="goDetail(item)" lines="none">

            <ion-thumbnail slot="start">
              <img [src]="item.image_url" />
            </ion-thumbnail>

            <ion-label>
              <h2>{{ getNamaPisang(item.result) }}</h2>
              <p>{{ getBananaInfo(item.result) }}</p>

              <div class="confidence" [ngClass]="getConfidenceClass(item.confidence)">
                {{ item.confidence }}%
              </div>
            </ion-label>

          </ion-item>

          <!-- SWIPE DELETE -->
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete(item.id)">
              🗑️ Hapus
            </ion-item-option>
          </ion-item-options>

        </ion-item-sliding>

      </ion-list>

      <!-- EMPTY -->
      <div *ngIf="!loading && filtered.length === 0" class="empty">
        <ion-icon name="search"></ion-icon>
        <p>Tidak ditemukan</p>
      </div>

    </div>
  </div>

</ion-content>