<ion-content class="history-bg">

  <div class="container">

    <div class="header">
      📊 Riwayat Deteksi
    </div>

    <!-- EMPTY -->
    <div *ngIf="history.length === 0" class="empty">
      <h2>Belum Ada Riwayat</h2>
    </div>

    <!-- CARD -->
    <div class="history-card" *ngFor="let item of history">

      <!-- GAMBAR -->
      <div class="image-wrapper">

        <img [src]="item.image" class="history-img" alt="gambar" loading="lazy" referrerpolicy="no-referrer" />

      </div>

      <!-- CONTENT -->
      <div class="history-content">

        <h2>🍌 Pisang {{ item.nama | titlecase }}</h2>

        <div class="confidence-box">

          <div class="confidence-bar">
            <div class="fill" [style.width.%]="item.confidence">
            </div>
          </div>

          <span>{{ item.confidence }}%</span>

        </div>

        <p class="date">
          🕒 {{ item.date }}
        </p>

      </div>

      <!-- BUTTON -->
      <div class="button-group">

        <button class="detail-btn" (click)="lihatDetail(item)">
          🔍 Detail
        </button>

        <button class="hapus-btn" (click)="hapusHistory(item.id)">
          <span>🗑</span>
          Hapus
        </button>

      </div>

    </div>

  </div>

</ion-content>
