<ion-content class="home-bg" [fullscreen]="true">
  <div class="container">
    <!-- HEADER -->
    <div class="header">🍌 Banana Scanner</div>

    <!-- HERO -->
    <div class="hero">
      <h1 class="title">AI Banana Detection</h1>
      <p class="subtitle">Scan pisang dengan teknologi AI</p>
    </div>

    <!-- MENU -->
    <div class="menu">
      <!-- KAMERA -->
      <div class="card" (click)="ambilKamera()">
        <div class="icon">📸</div>
        <h2>Kamera</h2>
      </div>

      <!-- GALERI -->
      <div class="card" (click)="ambilGaleri()">
        <div class="icon">🖼️</div>
        <h2>Galeri</h2>
      </div>

      <!-- HISTORY -->
      <div class="card" [routerLink]="['/history']">
        <div class="icon">📊</div>
        <h2>Riwayat</h2>
      </div>
    </div>

    <!-- LOADING -->
    <div *ngIf="loading" class="loading ion-text-center">
      <ion-spinner></ion-spinner>
      <p>AI sedang menganalisa...</p>
    </div>

    <!-- RESULT -->
    <div *ngIf="image && !loading" class="result-card">
      <img [src]="image" class="img-scan" alt="Gambar Pisang" />

      <h2>{{ getNamaPisang(result) }}</h2>

      <p>Result Raw: {{ result }}</p>

      <p>Confidence Raw: {{ confidence }}</p>

      <div class="confidence-bar">
        <div class="fill" [style.width.%]="confidence"></div>
      </div>

      <div class="button-group">
        <button class="custom-btn detail-btn" (click)="goToDetail()">
          🔍 Lihat Detail
        </button>

        <ion-button expand="block" class="voice-btn" (click)="speakResult()">

          🔊 Dengarkan Hasil

        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
